<iframe src="http://player.twitch.tv/?channel={{username}}" frameborder="0" scrolling="no" height="378" width="620"></iframe><a href="http://www.twitch.tv/{{username}}?tt_medium=live_embed&tt_content=text_link" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px;text-decoration:underline;">Watch live video from {{username}} on www.twitch.tv</a>
